
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 50px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        width: 500px;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}

