@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=DM+Serif+Text:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+ES:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}
body{
    padding: 30px;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba(128, 128, 128, 0.23) 1px solid;
    border-top: rgba(128, 128, 128, 0.23) 1px solid;
    #logo{
        width: 75px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        width: 500px;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: #2c2b2b;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
    #profile{
        display: flex;
        align-items: center;
        justify-content: center;
        #star{
            max-width: 18px;
        }
        p{
            font-weight: bold;
        }

        #date{
            color: gray;
        }
        #profile-picture{
            max-width: 50px;
        }
    }

}

