@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=DM+Serif+Text:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+ES:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    text-align: right;
    justify-content: right;
}
body{
    padding: 30px;
}

/*header */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba(128, 128, 128, 0.23) 1px solid;
    border-top: rgba(128, 128, 128, 0.23) 1px solid;

    #logo {
        width: 75px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 500px;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: #2c2b2b;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }

    #profile {
        display: flex;
        align-items: center;
        justify-content: center;

        #star {
            max-width: 18px;
        }

        p {
            font-weight: bold;
        }

        #date {
            color: gray;
        }

        #profile-picture {
            max-width: 50px;
        }
    }
}
/*hero */

#hero-section {
    display: flex;
    justify-content: center;
    div{
        display: flex;
        flex-direction: column;
        gap: 40px;
        #socials-div{
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: left;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                border: black solid 2px;
                border-radius: 25px;
                width: 35px;
                height: 35px;
                }
        }
        #main-image {
            width: 800px;
            height: 800px;
            background: linear-gradient(to right, #f4b553, #ed9b22);

            clip-path: path('M 57.14 0 L 605.71 0 A 68.57 68.57 0 0 1 674.29 68.57 L 674.29 68.57 A 57.14 57.14 0 0 0 731.43 125.71 A 68.57 68.57 0 0 1 800 194.29 L 800 708.57 A 91.43 91.43 0 0 1 708.57 800 L 217.14 800 A 91.43 91.43 0 0 1 125.71 708.57 L 125.71 560 A 57.14 57.14 0 0 0 68.57 502.86 A 68.57 68.57 0 0 1 0 422.86 L 0 91.43 A 91.43 91.43 0 0 1 91.43 0 Z');
    }
        }
    #hero-h1 {
        display: flex;
        text-align: right;
        justify-content: right;
        font-size: 150px;
        line-height: 120px;
        font-family: 'Archivo Black', sans-serif;
        letter-spacing: -0.01em;
    }
    #main-image {
        max-width: 600px;
        min-width: 600px;
    }
}






